<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>VK Test</title>
        <meta name="description" content="VK Test">
        <meta property="og:title" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://${domain}" />
        <meta property="og:description" content="VK Test" />
        <meta property="og:locale" content="ru_RU" />

        <meta property="vk:app_id" content="4926788" />
        <meta property="og:site_name" content="VK Test" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/${manifest['style.css']}">
        <script>
          var MANIFEST = ${JSON.stringify(manifest)};
        </script>
    </head>
    <body>
        <div class="b-container">
          <div class="b-chat-head">
            <div class="b-chat-head--actions"></div>
            <div class="b-chat-head--dialogs">
              <div class="b-dialog">Беседа</div>
            </div>
          </div>
          <div class="b-chat-container">
            <div class="b-chat-container--wrap">
              <div class="b-chat-container--wrap-inner">
                <% for(var i = 0; i < 2; i++) { %>
                <div class="b-message">
                  <div class="b-message--photo">
                    <img src="https://pp.vk.me/c412825/v412825216/5ed8/oen8E5j_dJc.jpg" />
                  </div>
                  <div class="b-message--info">
                    <a class="b-message--name" href="#">Вячеслав</a>
                    <div class="b-message--text">dsdsdsddsdsdsddsdsdsddsdsdsddsdsdsd dsdsdsddsdsdsddsdsdsddsdsdsddsdsdsddsdsdsd dsdsdsddsdsdsddsdsdsddsdsdsddsdsdsddsdsdsd</div>
                  </div>
                </div>
                <% } %>
                <div class="b-chat-container--status">Вячеслав набирает сообщение...</div>
              </div>
            </div>
          </div>
          <div class="b-chat-window">
            <div class="b-chat-window--photo">
              <img src="https://pp.vk.me/c412825/v412825216/5ed8/oen8E5j_dJc.jpg" />
            </div>
            <div class="b-chat-window--inputs">
              <textarea placeholder="Введите Ваше сообщение..." class="b-chat-window--inputs-textarea"></textarea>
              <div class="b-chat-window--send">
                <button class="b-button">Отправить</button>
              </div>
            </div>
            <div class="b-chat-window--photo">
              <img src="https://pp.vk.me/c412825/v412825216/5ed8/oen8E5j_dJc.jpg" />
            </div>
          </div>
        </div>
        <script src="/${manifest['main.js']}" async></script>
    </body>
</html>
