.b-og {
  @extend %clearfix;

  &--photo {
    float: left;
    width: 50px;
    display: block;

    img {
      width: 100%;
    }
  }
  &--info {
    margin-left: 60px;
    line-height: 1.5em;
  }

  &--title {
    color: $blue-type;
    font-weight: bold;
  }
}
