.b-og {
  @extend %clearfix;

  &--photo {
    display: block;

    img {
      width: 100%;
    }
  }
  &--info {
    line-height: 1.5em;
    margin-top: 10px;
  }

  &--title {
    color: $blue-type;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
